<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>我的攻略</title>
    <link rel="stylesheet" href="/static/css/bootstrap.min.css">
    <script src="/static/js/jquery.min.js"></script>
    <script src="/static/js/bootstrap.min.js"></script>
    <script src="/static/js/my.js"></script>
    <script src="/static/js/strategy/wangEditor.js"></script>
    <script>
        $(function(){
            var token = window.localStorage.getItem('travel_token');
            var url = document.location.toString();
            var arrUrl = url.split("//");
            //当前访问的博客博主
            var username = arrUrl[1].split('/')[2];
            $.ajax({
                url: 'http://127.0.0.1:8000/strategy/strategy/'+username,
                type: 'get',
                beforeSend: function(request) {
                    request.setRequestHeader("Authorization", token);
                },
                success: function(res){
                    if(res.code==200){
                        html = ''
                        for(var i=0; i<res.data.length; i++){
                            id = res.data[i].id
                            title = res.data[i].title
                            create_time = res.data[i].create_time
                            html += '<a href="/strategy/'+username+'/detail?s_id='+id+'"><li><h1>标题：'+title+'</h1> 创建时间：'+create_time+'</li></a>'
                        }
                        $('#strategy_ul').html(html)
                    }
                }

            })


        })

    </script>
    <style>
        a{
            text-decoration: none;
        }
        a:hover{
            text-decoration: none;
        }
        ul li{
            list-style: none;
        }
    </style>
</head>
<body>
    <nav class="navbra navbar-default" role="navigation"  style="background-color: rgba(255, 255, 255);">
        <div class="container-fluid">
            <div class="navbar-header">
                <button class="navbar-toggle" data-toggle="collapse" data-target="#example-navbar-collapse">
                    <span class="sr-only">切换导航</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a href="/index" class="navbar-brand">LIUAN</a>

            </div>
            <div class="collapse navbar-collapse" id="example-navbar-collapse">

                <ul class="nav navbar-nav" style="float:right">
                    <li><a href="/index">首页</a></li>
                    <li><a href="#">景点</a></li>
                    <li><a href="/strategy">旅游攻略</a></li>
                    <li><a href="#">酒店预定</a></li>
                    <li><a href="#">关于我们</a></li>
                    <li><a href="#">社区</a></li>
                    <li id="gif_login"><div style="width:58px;height:28px;text-align:center;margin-top:14px"><img src="/static/media/c_login1.gif"></div></li>
                    <li id='li_login' style="display: none;"><a href="/user/login" style="color:rgba(197, 46, 8, 0.808)">登录</a></li>
                    <li class="dropdown active" style="display: none;">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                            我
                            <b class="caret"></b>
                        </a>
                        <ul class="dropdown-menu">
                            <li><a id='user_profile' href="#">我的主页</a></li>
                            <li><a id='my_strategy' href="#">我的文章</a></li>
                            <li><a href="#">收藏</a></li>
                            <li><a href="#">关注</a></li>
                            <li class="divider"></li>
                              <li onclick="logout()"><a href="/index">退出</a></li>
                        </ul>
                    </li>

                </ul>
            </div>
        </div>
    </nav>
    <div style="text-align:center;">
        <h1>我的攻略</h1>
        <div id="strategy_div">
            <ul id="strategy_ul">

            </ul>
        </div>
    </div>
<!--    <a id="write_btn" href="/strategy/writestrategy">写攻略</a>-->
<!--    <script>-->
<!--        function write(){-->
<!--            console.log(1)-->
<!--            windows.location.href = '/strategy/writestrategy'-->
<!--        }-->

<!--    </script>-->
</body>
</html>